body, h1 {
  margin: 0;
}

.App {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.top {
  position: absolute;
  top: 0;
}

.calendar {
  height: 60%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.selected {
  background: #ff8100;
}

.day {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
